<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="/static/font_awesome/css/font-awesome.min.css" >
<script src="/static/common_js/jquery-2.1.4.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/common_js/jump_tips.js"></script>
<script src="/static/common_js/form_hidden_required_check.js"></script>
<link rel="<?= $css_rel ?>" type="text/css" href="/static/common_css/common.<?= $css_type ?>" >

<div class="color-line"></div>
